.edit{
  background-color: rgb(237, 237, 241);
}

.edit .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
.edit .upload-btn-wrapper .btn {
    border: 2px solid var(--azul);
    color: var(--azul);
    background-color: rgb(237, 237, 241);;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 2%;
}
  
 .edit .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }