.inicio {
    background-color: rgb(237, 237, 241);
    min-height: 100vh;
    box-shadow: none;
    border-radius: none;
    max-width: 100%;
}

.inicio-foto {
    border-radius: 8px;
}

.inicio .proyecto .bi {
    font-size: x-large;
    cursor: pointer;
}

.inicio .btn-dark {
    background-color: var(--azul);
    border: none;
    color: white;
}

.inicio .btn-dark:hover {
    background-color: #003a8c;
    border: none;
    color: white;
}

.inicio input:focus {
    box-shadow: none;
}

.inicio .container {
    min-height: 62.5vh;
}

.search-input {
    margin-left: 10%;
}

.busqueda{
    background: linear-gradient(to top, rgb(206, 217, 224), #fff);
}

.busqueda:focus {
    text-decoration: none;
    border: 1px solid var(--celeste);
    box-shadow: none;
}

.auto{
    width: 215px;
}

.banner {
    width: 100vw !important;
    height: auto !important;
}

@media (max-width: 530px) {
    .banner {
        height: 0;
        width: 0;
    }
    .search-input {
        margin-left: 0%;
    }
    .auto{
        width: 160px;
    }
    .search-input img{
        max-height: 20px;
    }
    .bi-filter{
        font-size: x-large;
    }
}

@media (max-width: 575px) {
    .selectFecha{
        margin-left: 1%;
    }
}