@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.start {
    min-height: 100vh;
    /* background: var(--azul); */
    background: linear-gradient(rgba(0, 48, 73, .98), rgba(0, 48, 73, .98)), url("../../img/fondo.jpg");

    width: 100%;
}

.eclipse {
    position: absolute;
    z-index: -10;
    width: 488px;
    height: 530px;
    top: -189px;

    background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(253, 240, 213, 0.84375) 0%, var(--bordo) 100%);
    opacity: 0.35;
    filter: blur(250px);
}

.undraw {
    width: 552px;
    height: 424px;
    z-index: 10;
    position: relative;
    margin-top: 5%;
}

.tablero {
    width: 90%;
    min-height: 227px;
    margin-left: 5%;
    margin-top: 5%;

    background: rgba(62, 60, 60, 0.9);
    opacity: 0.8;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin-bottom: 3%;
}

.card {
    background: rgba(46, 44, 44, 0.9);
    border-radius: 20px;
    color: var(--blanco);
    padding: 5%;
}

.head {
    margin-top: 5%;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 140px;
    z-index: 1;
    animation: glow 1s ease-in-out infinite alternate;
    color: #d90429;
}

.boton {
    padding: 6px 14px;

    width: 166px;
    height: 40px;
    margin-top: 5%;

    border: 1px solid var(--blanco);
    box-sizing: border-box;
    filter: drop-shadow(0px 0.5px 1.5px rgba(54, 122, 246, 0.25));
    border-radius: 6px;
    background-color: transparent;
    color: var(--blanco);
    font-size: larger;
}

.boton:hover {
    border: 1px solid var(--blanco);
    background-color: var(--bordo);
    color: var(--blanco);
    text-decoration: none;
}

.art {
    color: var(--rojo);
}

.texto {
    width: 85%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;

    color: var(--blanco);
}

.margin {
    margin-top: -10%;
}

.logo {
    margin-left: 2.25%;
    margin-top: 1.61%;
}

.bi {
    font-size: xx-large;
}

.one {
    color: #fff;
    animation: glow2 1s ease-in-out infinite alternate;
}

.circulo-fondo {
    top: 0;
    position: absolute;
    background: var(--celeste);
    right: 0;
    z-index: 0;
    filter: blur(3px);
    width: 525px;
    height: 525px;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
}

@media(max-width:950px) {
    .circulo-fondo{
        width: 0;
        height: 0;
    }
}

@media(max-width:530px) {
    .head {
        font-size: 5.5rem;
        margin-bottom: 45px;
        font-family: 'Lora';
    }

    .texto {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .undraw {
        margin-bottom: 7%;
        margin-top: 15%;
        height: 100%;
    }

    .eclipse {
        width: 10%;
    }

    .circulo-fondo{
        width: 0;
        height: 0;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #C1121F;
    }

    to {
        text-shadow: 0 0 30px #780000, 0 0 10px #780000;
    }
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 20px #b9baa3;
    }

    to {
        text-shadow: 0 0 30px #8c7a6b, 0 0 10px #8c7a6b;
    }
}