.link{
    color: rgb(82, 79, 79);
}

.link:hover{
    color: rgb(43, 41, 41);
    text-decoration: none;
}

.active{
    color: black;
}

.link .bi{
    font-size: medium;
    margin-right: 5px;
}

.css-i4bv87-MuiSvgIcon-root{
    color: black;
}

/* .menu{
    backdrop-filter: blur(1rem);
    padding-bottom: 1%;
} */