.footer {
    background-color: var(--bordo);
    color: #FDF0D5;
    min-height: 150px;
    max-height: 300px;
    padding: 1%;
    padding-left: 6%;
    margin-bottom: 0;
}

.footer .txt {
    width: 382px;
    height: 55px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FDF0D5;
    margin-bottom: 0;
}

.terminos {
    color: var(--celeste);
    font-weight: 800;
    font-size: 15px;
}

.contacto {
    padding: 3% 5%;
    font-size: 16px;
    background-image:
        linear-gradient(45deg, #ffffff 80%, transparent 50.1%),
        linear-gradient(#ffffff,
            #ffffff 6px,
            var(--celeste) 6px,
            var(--celeste));
    background-size: 100%, 100% 12px;
    border-radius: 8px;
}

.contacto:hover {
    background-image:
        linear-gradient(45deg, #ffffff 80%, transparent 50.1%),
        linear-gradient(#ffffff,
            #ffffff 6px,
            var(--azul) 6px,
            var(--azul));
}

.form-control {
    background: linear-gradient(to top, rgb(206, 217, 224), #fff);
}

.form-control:focus {
    text-decoration: none;
    border: 1px solid var(--celeste);
    box-shadow: none;
}


@media (max-width: 530px) {
    .footer .txt {
        width: 100%;
        height: 55px;
        font-size: 16px;
        display: flex;
        align-items: flex-center;
        text-align: center;
    }

    .terminos {
        font-size: 14px;
    }
}